@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
* {
    box-sizing: border-box;
}
form{
    margin: 0px;
}

h3{
    margin:3px;
}

button{
    padding: 3px 8px;
    width: 65%;
    border:none;
    margin: 2px;
    border-radius: 8%;
    font-family: inherit;
}

.blkButton{
    background-color: black;
    
    font-weight: 300;
    color : white;
}

.rndmButton {
    background: linear-gradient(290deg, #21e3b1, #21cce3, #d7c1f2, #f0c1f2);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

.size-value {
    margin-bottom: -20px;
    font-size: 20px;
  }

@-webkit-keyframes AnimationName {
    0%{background-position:0% 23%}
    50%{background-position:100% 78%}
    100%{background-position:0% 23%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 23%}
    50%{background-position:100% 78%}
    100%{background-position:0% 23%}
}
@keyframes AnimationName {
    0%{background-position:0% 23%}
    50%{background-position:100% 78%}
    100%{background-position:0% 23%}
}

input {
    width: 100%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}
body{
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    justify-content: space-around;
}

.pallete{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 450px;
    justify-content: space-around;
}
.container {
    display: grid;
    width: 500px;
    height: 500px;
    flex-direction: column;
    border:3px solid black;
    align-items: center;
    margin: 5px;
}


#footer {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    background: rgba(224, 224, 224, 0.26);
    align-items: center;
    justify-content: center;
    font-family: 'Dosis' sans-serif;
}